<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
    
    <!-- 
    <Automatically create and drop schema when starting/closing application> 
    -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- 
    </Automatically create and drop schema when starting/closing application> 
    -->
    
    <!-- 
    <DataSource properties> 
    -->
    <!-- FIXME: make this setable as it is in slide -->
    <property name="hibernate.connection.datasource">java:comp/env/jdbc/DefaultDS</property>
    <!-- 
    </DataSource properties> 
    -->
    
    <property name="hibernate.show_sql">true</property>
    
    <!-- Enable Hibernate's automatic session context management -->
    <property name="hibernate.current_session_context_class">thread</property>
    
    <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
    
  </session-factory>
</hibernate-configuration>